@font-face {
    font-family: 'ITCLubalinGraphStdBookBold';
    src: url('../fonts/lubalingraphstd-demi.eot');
    src: url('../fonts/lubalingraphstd-demi.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lubalingraphstd-demi.woff') format('woff'),
         url('../fonts/lubalingraphstd-demi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}