//  libs
@import 'nib'

global-reset()
reset-html5()

// fonts
@import 'lubalingraphstd-demi'

*:focus
  outline: none

*
  box-sizing: border-box

html
  height: 100%

body
  border-top: 6px #8CC84B solid
  height: 100%
  background-color: #f8fafa;
  background-image: -webkit-gradient(radial, 50% 50%,0,50% 50%,200, from(#e6e8e8), to(#f8fafa));
  background-image: -webkit-radial-gradient(50% 50%, #f8fafa, #e6e8e8);
  background-image: -moz-radial-gradient(50% 50%, #f8fafa, #e6e8e8);
  background-image: -o-radial-gradient(50% 50%, #f8fafa, #e6e8e8);
  background-image: -ms-radial-gradient(50% 50%, #f8fafa, #e6e8e8);
  background-image: radial-gradient(50% 50%, #f8fafa, #e6e8e8);

h1, h2
  absolute: top 50% left 50%
  transform: translate(-50%, -150px)
  color: #888
  text-shadow: 0 -1px 1px 2px #111
  font-family: 'ITCLubalinGraphStdBookBold'
  white-space: nowrap

h1
  font-size: 33px

h2
  margin-top: 30px
  font-size: 45px

ul
  display: block
  li
    font: 16px Arial; display: inline-block

#github
  absolute: left 50% top 50%
  width: 143px
  height: 183px
  background: url('../images/octocat.png') no-repeat 50% 0%
  margin-top: 40px
  transform: translate(-50%, -50%)
  iframe
    display: block
    absolute: left 50% bottom 0
    margin-left: -55px

.pointer
  width: 29px
  height: 30px
  absolute: top -50px left -50px
  background: url('../images/cursor.png') no-repeat
  opacity: 0

@media only screen and (max-height : 350px)
  h1, h2
    transform: translate(-100%, -50px)
    margin-left: 18px

  #github
    transform: translate(50px, -50%)
    margin: 0